#topBar {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
}

#colorSection {
  grid-column: 1/2;
  background-color: deeppink;
}

#coloringTemplateSection {
  grid-column: 2/3;
  background-color: hotpink;
}