#myCanvas{
  border-right: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  background-color: white;
  
}

#dragBtn{
  height: 30px;
  width: 15px;
  background-color: transparent;
  border: none;
}

#canvas{
  background-color: #c0c0c0;
}