#leftBar{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 45% 55%;
  background-color: $navBackground;
  text-align: center;
  border-right: $navBorder;
}

%leftBorderCommons{
  margin: 4px auto;
  border-radius: 2px;
  box-shadow: 1px 1px 2px;
}

#lineWidthSection{
  grid-column: 1/2 ;
  grid-row: 1/2;
  border-bottom: $navBorder ;
}

#gearSection{
  grid-column: 2/3 ;
  grid-row: 1/2;
  border-bottom: $navBorder;
}

#currentGear{
  @extend %leftBorderCommons;
  border: $optionBorder;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  background-color: #ececec;
}

.gearOption{
  @extend %leftBorderCommons;
  border: $optionBorder;
  height: 35px;
  width: 35px;
  background-color: #c0c0c0;
}

.gearOption:hover{
  background-color: #fff;
}

#currentLineWidth{
  @extend %leftBorderCommons;
  border: $optionBorder;
  height: 30px;
  width: 30px;
  margin-top: 30px;
  background-color: #ececec;
}

.lineWidthOptions{
  @extend %leftBorderCommons;
  border: $optionBorder;
  height: 22px;
  width: 22px;
  background-color: #c0c0c0;
}

.lineWidthOptions:hover {
  background-color: #fff;
}