#mainMenu{
  background-color: $navBackground;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  border-right: $navBorder;
  border-bottom: $navBorder;
}

#mainMenu:hover{
  background-color: #ececec;
  border-radius: 3px;
}

%btnSize{
  height: 20px;
  width: 20px;
  margin-top: 20px;
  margin-left: 5px;
  display: inline-block;
}

#undoBtn{
  @extend %btnSize;
  grid-column: 3/4;
  border-radius: 3px;
}

#reverseUndoBtn{
  @extend %btnSize;
  grid-column: 4/5;
  border-radius: 3px;
}

#downloadBtn{
  @extend %btnSize;
  grid-column: 1/2;
  border-radius: 3px;
}

#newDrawingBtn{
  @extend %btnSize;
  grid-column: 5/6;
  border-radius: 3px;
}

#downloadPngBtn{
  @extend %btnSize;
  grid-column: 2/3;
  border-radius: 3px;
}
