#mainMenu{
}

%btnSize{
  height: 20px;
  width: 20px;
  display: inline-block;
}

#undoBtn{
  @extend %btnSize;
}

#reverseUndoBtn{
  @extend %btnSize;
}

#downloadBtn{
  @extend %btnSize;
}

#newDrawingBtn{
  @extend %btnSize;
}